# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

#emacs
*.~*~
\#*\#

# Emacs backups of hidden files, like ".gitignore.~3~"
.*.~*~
.\#*

# playground to test things 

\playground
